<div class="container h-100" style="overflow: hidden;">
  <div class="row h-100 justify-content-center align-items-center">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Digi Miner</mat-card-title>
      <form>
        <div class="form-container">
          <mat-form-field>
            <mat-label>Enter Email Id</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter Passwords</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="text-center">
          <button mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
