<mat-toolbar color="primary" class="mat-elevation-z8">Digi Miner</mat-toolbar>
<div style="text-align: center;">
  <input
    type="file"
    class="form-control"
    (change)="addfile($event)"
    placeholder="Upload file"
    #fileinput
    style="display: none;"
  />

  <button
    mat-raised-button
    color="primary"
    (click)="fileinput.click()"
    style="margin-top: 15px; margin-bottom: 15px;"
  >
    Upload File
    <mat-icon [inline]="true">cloud_upload</mat-icon>
  </button>
  <div *ngIf="fileName">
    Uploaded File Is : <b>{{ fileName }}</b>
  </div>
</div>

<div
  class="progress_bar"
  *ngIf="progress_status"
  style="text-align: center; align-items: center;"
>
  <b>Wait Data is uploading </b>
  <mat-spinner style="margin: auto;"></mat-spinner>
</div>

<mat-card>
  <div class="filter-div">
    <form [formGroup]="filterGroup">
      <mat-form-field>
        <mat-label> Select Price Range</mat-label>
        <mat-select formControlName="price_range">
          <mat-option *ngFor="let prices of priceRange" [value]="prices">
            {{ prices.range }}
          </mat-option></mat-select
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label> Select Size(in sqft)</mat-label>
        <mat-select formControlName="size_range">
          <mat-option *ngFor="let sizes of sizeRange" [value]="sizes">
            {{ sizes.range }}
          </mat-option></mat-select
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label> Owner/Agent</mat-label>
        <mat-select formControlName="posted_by">
          <mat-option *ngFor="let post of posted_by" [value]="post">
            {{ post }}
          </mat-option></mat-select
        >
      </mat-form-field>
      Posted Date:
      <mat-form-field>
        <mat-label>From Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="posted_fromDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerTo"
          [min]="minDate"
          formControlName="posted_toDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerTo"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
      <br />
      Uploaded Date:
      <mat-form-field>
        <mat-label>From Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerUpFrom"
          formControlName="uploaded_fromDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerUpFrom"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerUpFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerToUp"
          [min]="minDateUp"
          formControlName="uploaded_toDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerToUp"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerToUp></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="reset()">
        Reset Filter
      </button>
      <div>
        <div ngbDropdown>
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Download Option
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            style="
              text-align: center !important;
              background-color: #e5f2ff;
              padding: 3%;
              border: 2px solid black;
            "
          >
            <button
              mat-raised-button
              color="primary"
              (click)="exportAsExcelFile(1)"
              style="float: none;"
            >
              Download <mat-icon [inline]="true">cloud_download</mat-icon>
            </button>
            <br />
            <b>OR</b>
            <form [formGroup]="mailGroup">
              <label for="mail">Mail and Download</label>
              <br />
              <mat-form-field class="example-full-width">
                <mat-label>Enter Email Id</mat-label>
                <input matInput id="mail" formControlName="mail" />
              </mat-form-field>
              <br />
              <button
                mat-raised-button
                color="primary"
                (click)="exportAsExcelFile(0)"
                style="float: none;"
              >
                send and download
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- <button
        mat-raised-button
        color="primary"
        *ngIf="dataSource.filteredData.length"
        (click)="exportAsExcelFile()"
        style="margin-right: 5px;"
      >
        Download <mat-icon [inline]="true">cloud_download</mat-icon>
      </button> -->
      <button
        mat-raised-button
        color="primary"
        (click)="filter()"
        style="margin-right: 5px;"
      >
        Search <mat-icon [inline]="true">search</mat-icon>
      </button>
    </form>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <!-- <ng-container matColumnDef="Sr No.">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Sr No.
      </mat-header-cell>
      <mat-cell *matCellDef="let item; let j = index">
        {{ j + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
      </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="Sr No.">
      <th mat-header-cell *matHeaderCellDef>Sr No.</th>
      <td mat-cell *matCellDef="let element; let j = index">
        {{ j + 1 + myPaginator.pageIndex * myPaginator.pageSize }}.
      </td>
    </ng-container>

    <!-- Photo link Column -->
    <ng-container matColumnDef="Photo link">
      <th mat-header-cell *matHeaderCellDef>Photo link</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element['Photo link']"
          alt=""
          style="height: 100px; width: 100px;"
        />
      </td>
    </ng-container>

    <!-- Photos Column -->
    <ng-container matColumnDef="Photos">
      <th mat-header-cell *matHeaderCellDef>Photos</th>
      <td mat-cell *matCellDef="let element">{{ element["Photos"] }}</td>
    </ng-container>

    <!-- Posted date Column -->
    <ng-container matColumnDef="Posted date">
      <th mat-header-cell *matHeaderCellDef>Posted date</th>
      <td mat-cell *matCellDef="let element">{{ element["Posted date"] }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.Price }}</td>
    </ng-container>
    <!-- Property type Column -->
    <ng-container matColumnDef="Property type">
      <th mat-header-cell *matHeaderCellDef>Property type</th>
      <td mat-cell *matCellDef="let element">{{ element["Property type"] }}</td>
    </ng-container>
    <!-- Property type Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let element">{{ element["size"] }}</td>
    </ng-container>
    <!-- Card Summary Link_link Column -->
    <ng-container matColumnDef="Card Summary Link_link">
      <th mat-header-cell *matHeaderCellDef>Card Summary Link_link</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element['Card Summary Link_link']" target="_blank">
          {{ element["Card Summary Link_link"] }}</a
        >
      </td>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="copyText(element['Description'])"
          mat-raised-button
          [matTooltip]="element['Description']"
        >
          Hover to see description
        </button>
      </td>
    </ng-container>
    <!-- Owner/ Agent Column -->
    <ng-container matColumnDef="Owner/ Agent">
      <th mat-header-cell *matHeaderCellDef>Owner/ Agent</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Owner/ Agent"] }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Name"] }}
      </td>
    </ng-container>
    <!-- _url_input Column -->
    <ng-container matColumnDef="_url_input">
      <th mat-header-cell *matHeaderCellDef>_url_input</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element['_url_input']" target="_blank">
          <mat-icon>remove_red_eye</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Uploaded date Column -->
    <ng-container matColumnDef="Uploaded date">
      <th mat-header-cell *matHeaderCellDef>Uploaded date</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Uploaded date"] | date }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #myPaginator
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
  <!-- <div
    *ngIf="!dataSource.filteredData.length"
    style="text-align: center; margin: 15px;"
  >
    <b>Data Not Available }</b>
  </div> -->
  <div
    *ngIf="!dataSource.filteredData.length && !progress_status"
    style="text-align: center; margin-top: 15px;"
  >
    <h2>Data Not Available !!!</h2>
  </div>
  <div style="background-color: white;"></div>
</mat-card>
